.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.home-statCards {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: #f1bc4a5e;
    margin-bottom: 20px;
}

.home-statChart{
    margin-top: 40px;
}

.home-statMap {
    margin-top: 40px;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 500%;
}